<a href="https://colab.research.google.com/github/luanfelixcoding/storytelling-covid/blob/Mafra/data_cleaning/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

### Indices Brasil Geral (analisar por idade)

In [63]:
df = pd.read_csv('/content/Indic_BR/Indic_BR2023.csv', sep=';', encoding='utf-8')
display(df)

,Características selecionadas,População em idade de trabalhar\n(1 000 pessoas),População na força de trabalho\n(1 000 pessoas),População ocupada\n(1 000 pessoas),População ocupada em trabalhos formais (1)\n(1 000 pessoas),População desocupada\n(1 000 pessoas),População na força de trabalho potencial\n(1 000 pessoas),População subutilizada\n(1 000 pessoas),Taxa de participação (%),Nível de ocupação (%),Taxa de formalização (%),Taxa de desocupação (%),Taxa composta de subutilização (%)
0,Total Grupos de idade,168 365,107 669,94 956,55 639,12 713,8 280,28 234,"63,9","56,4","58,6","11,8","24,4"
1,14 a 29 anos,53 330,33 423,26 338,14 254,7 085,4 101,13 771,"62,7","49,4","54,1","21,2","36,7"
2,14 a 17 anos,12 425,2 555,1 494,260,1 061,1 287,2 627,"20,6",12,"17,4","41,5","68,4"
3,18 a 24 anos,23 952,16 961,12 866,6 684,4 095,1 968,7 399,"70,8","53,7",52,"24,1","39,1"
4,25 a 29 anos,16 952,13 907,11 978,7 310,1 929,846,3 744,82,"70,7",61,"13,9","25,4"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Ensino superior completo,8 580,7 376,6 828,5 216,549,166,1 118,86,"79,6","76,4","7,4","14,8"
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Fonte: IBGE. Pesquisa Nacional por Amostra de ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Notas: Não são apresentados resultados para am...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,(1) Inclui empregado com carteira de trabalho ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
indices_para_excluir = list(range(66, 70))  # 70 não incluso, vai até 69

df = df.drop(indices_para_excluir).reset_index(drop=True)

display(df)

,Características selecionadas,População em idade de trabalhar\n(1 000 pessoas),População na força de trabalho\n(1 000 pessoas),População ocupada\n(1 000 pessoas),População ocupada em trabalhos formais (1)\n(1 000 pessoas),População desocupada\n(1 000 pessoas),População na força de trabalho potencial\n(1 000 pessoas),População subutilizada\n(1 000 pessoas),Taxa de participação (%),Nível de ocupação (%),Taxa de formalização (%),Taxa de desocupação (%),Taxa composta de subutilização (%)
0,Total Grupos de idade,168 365,107 669,94 956,55 639,12 713,8 280,28 234,"63,9","56,4","58,6","11,8","24,4"
1,14 a 29 anos,53 330,33 423,26 338,14 254,7 085,4 101,13 771,"62,7","49,4","54,1","21,2","36,7"
2,14 a 17 anos,12 425,2 555,1 494,260,1 061,1 287,2 627,"20,6",12,"17,4","41,5","68,4"
3,18 a 24 anos,23 952,16 961,12 866,6 684,4 095,1 968,7 399,"70,8","53,7",52,"24,1","39,1"
4,25 a 29 anos,16 952,13 907,11 978,7 310,1 929,846,3 744,82,"70,7",61,"13,9","25,4"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Total Preta ou parda,94 891,60 081,51 803,27 371,8 278,5 825,18 934,"63,3","54,6","52,8","13,8","28,7"
62,Sem instrução ou fundamental incompleto,36 713,17 304,15 190,5 112,2 113,2 565,6 592,"47,1","41,4","33,7","12,2","33,2"
63,Ensino fundamental completo ou médio incompleto,17 748,10 676,8 711,3 910,1 965,1 431,4 326,"60,2","49,1","44,9","18,4","35,7"
64,Ensino médio completo ou superior incompleto,31 850,24 725,21 074,13 132,3 650,1 663,6 899,"77,6","66,2","62,3","14,8","26,1"
65,Ensino superior completo,8 580,7 376,6 828,5 216,549,166,1 118,86,"79,6","76,4","7,4","14,8"

In [90]:
for i, col in enumerate(df.columns):
    print(f"{i}: {col}")

0: Características selecionadas
1: População em idade de trabalhar
(1 000 pessoas)
2: População na força de trabalho
(1 000 pessoas)
3: População ocupada
(1 000 pessoas)
4: População ocupada em trabalhos formais (1)
(1 000 pessoas)
5: População desocupada
(1 000 pessoas)
6: População na força de trabalho potencial
(1 000 pessoas)
7: População subutilizada
(1 000 pessoas)
8: Taxa de participação (%)
9: Nível de ocupação (%)
10: Taxa de formalização (%)
11: Taxa de desocupação (%)
12: Taxa composta de subutilização (%)

In [91]:
# Limpar nomes de colunas: remover \n e espaços extras
df.columns = [col.replace('\n', ' ').strip() for col in df.columns]

# Verificar resultado
for i, col in enumerate(df.columns):
    print(f"{i}: {col}")

0: Características selecionadas
1: População em idade de trabalhar (1 000 pessoas)
2: População na força de trabalho (1 000 pessoas)
3: População ocupada (1 000 pessoas)
4: População ocupada em trabalhos formais (1) (1 000 pessoas)
5: População desocupada (1 000 pessoas)
6: População na força de trabalho potencial (1 000 pessoas)
7: População subutilizada (1 000 pessoas)
8: Taxa de participação (%)
9: Nível de ocupação (%)
10: Taxa de formalização (%)
11: Taxa de desocupação (%)
12: Taxa composta de subutilização (%)

### Indices por Região (analisar mais afetadas)

In [88]:
df_geo = pd.read_csv('/content/Indic_Geo/Indic_Geo2023.csv', sep=';', encoding='utf-8')
display(df_geo)

,"Grandes Regiões, Unidades da Federação e Municípios",População em idade de trabalhar\n(1 000 pessoas),População na força de trabalho\n(1 000 pessoas),População ocupada\n(1 000 pessoas),População ocupada em trabalhos formais (1)\n(1 000 pessoas),População desocupada\n(1 000 pessoas),População na força de trabalho potencial\n(1 000 pessoas),População subutilizada\n(1 000 pessoas),Taxa de participação (%),Nível de ocupação (%),Taxa de formalização (%),Taxa de desocupação (%),Taxa composta de subutilização (%)
0,Brasil,174 809,109 156,100 690,59 675,8 466,7 023,20 889,"62,4","57,6","59,3","7,8","18,0"
1,Norte,14 652,8 854,8 169,3 449,685,782,1 966,"60,4","55,8","42,2","7,7","20,4"
2,Rondônia,1 496,851,824,486,27,19,56,"56,9","55,1","59,0","3,2","6,5"
3,Porto Velho,476,259,248,139,11,3,15,"54,4","52,0","56,1","4,4","5,9"
4,Acre,691,342,316,152,25,36,68,"49,4","45,7","48,0","7,5","18,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Brasília,2 606,1 793,1 611,1 096,182,64,300,"68,8","61,8","68,1","10,1","16,2"
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Fonte: IBGE. Pesquisa Nacional por Amostra de ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Notas: Não são apresentados resultados para am...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,(1) Inclui empregado com carteira de trabalho ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
indices_para_excluir = list(range(60, 64))  # 70 não incluso, vai até 69

df_geo = df_geo.drop(indices_para_excluir).reset_index(drop=True)

display(df_geo)

,"Grandes Regiões, Unidades da Federação e Municípios",População em idade de trabalhar\n(1 000 pessoas),População na força de trabalho\n(1 000 pessoas),População ocupada\n(1 000 pessoas),População ocupada em trabalhos formais (1)\n(1 000 pessoas),População desocupada\n(1 000 pessoas),População na força de trabalho potencial\n(1 000 pessoas),População subutilizada\n(1 000 pessoas),Taxa de participação (%),Nível de ocupação (%),Taxa de formalização (%),Taxa de desocupação (%),Taxa composta de subutilização (%)
0,Brasil,174 809,109 156,100 690,59 675,8 466,7 023,20 889,"62,4","57,6","59,3","7,8","18,0"
1,Norte,14 652,8 854,8 169,3 449,685,782,1 966,"60,4","55,8","42,2","7,7","20,4"
2,Rondônia,1 496,851,824,486,27,19,56,"56,9","55,1","59,0","3,2","6,5"
3,Porto Velho,476,259,248,139,11,3,15,"54,4","52,0","56,1","4,4","5,9"
4,Acre,691,342,316,152,25,36,68,"49,4","45,7","48,0","7,5","18,0"
5,Rio Branco,333,183,166,95,17,10,29,"55,2","50,0","57,0","9,3","15,0"
6,Amazonas,3 182,1 946,1 752,703,194,139,424,"61,2","55,1","40,1","9,9","20,3"
7,Manaus,1 826,1 161,1 025,558,135,45,220,"63,6","56,2","54,4","11,7","18,3"
8,Roraima,449,280,262,120,18,13,38,"62,5","58,4","45,7","6,6","12,8"
9,Boa Vista,326,216,201,101,16,10,31,"66,2","61,4","50,4","7,2","13,8"
10,Pará,6 862,4 194,3 869,1 449,325,476,1 123,"61,1","56,4","37,4","7,7","24,1"
11,Belém,1 259,829,748,376,81,61,200,"65,8","59,4","50,2","9,8","22,5"
12,Amapá,716,441,391,198,50,36,98,"61,5","54,5","50,8","11,3","20,6"
13,Macapá,448,286,267,153,19,16,40,"63,8","59,5","57,4","6,7","13,3"
14,Tocantins,1 256,801,755,342,46,64,159,"63,8","60,1","45,3","5,8","18,4"
15,Palmas,264,195,185,102,10,5,22,"74,1","70,3","55,1","5,0","10,9"
16,Nordeste,46 256,25 185,22 412,9 664,2 773,3 464,8 478,"54,4","48,5","43,1","11,0","29,6"
17,Maranhão,5 566,2 824,2 601,917,223,553,959,"50,7","46,7","35,3","7,9","28,4"
18,São Luís,929,580,520,278,60,21,93,"62,4","55,9","53,5","10,4","15,4"
19,Piauí,2 663,1 406,1 268,497,138,312,692,"52,8","47,6","39,2","9,8","40,3"
20,Teresina,724,443,412,228,31,47,111,"61,1","56,9","55,4","6,9","22,7"
21,Ceará,7 498,4 017,3 675,1 563,342,468,1 106,"53,6","49,0","42,5","8,5","24,7"
22,Fortaleza,2 253,1 350,1 233,670,117,66,238,"59,9","54,7","54,3","8,7","16,8"
23,Rio Grande do Norte,2 897,1 513,1 350,692,163,185,443,"52,2","46,6","51,2","10,7","26,1"
24,Natal,746,415,370,234,45,20,75,"55,7","49,7","63,2","10,8","17,1"
25,Paraíba,3 239,1 706,1 543,673,163,205,524,"52,7","47,6","43,6","9,6","27,4"
26,João Pessoa,677,425,385,230,40,24,98,"62,8","56,9","59,6","9,4","21,7"
27,Pernambuco,7 772,4 245,3 674,1 705,571,383,1 259,"54,6","47,3","46,4","13,4","27,2"
28,Recife,1 389,869,729,411,140,60,243,"62,6","52,5","56,4","16,1","26,1"
29,Alagoas,2 660,1 387,1 259,582,128,229,454,"52,1","47,3","46,2","9,2","28,1"
30,Maceió,859,533,480,274,53,23,106,"62,0","55,9","57,2","10,0","19,0"
31,Sergipe,1 876,1 092,967,441,125,150,404,"58,2","51,5","45,6","11,4","32,5"
32,Aracaju,567,354,309,187,46,29,97,"62,4","54,4","60,6","12,9","25,4"
33,Bahia,12 085,6 997,6 075,2 595,922,979,2 638,"57,9","50,3","42,7","13,2","33,1"
34,Salvador,2 452,1 610,1 389,801,221,95,416,"65,7","56,7","57,6","13,7","24,4"
35,Sudeste,75 081,49 138,45 466,29 678,3 672,2 009,7 592,"65,4","60,6","65,3","7,5","14,8"
36,Minas Gerais,17 705,11 483,10 818,6 692,665,578,1 688,"64,9","61,1","61,9","5,8","14,0"
37,Belo Horizonte,2 149,1 487,1 363,956,124,56,237,"69,2","63,4","70,2","8,3","15,4"
38,Espírito Santo,3 377,2 158,2 036,1 222,122,81,266,"63,9","60,3","60,0","5,7","11,9"
39,Vitória,329,208,194,135,14,5,24,"63,2","58,9","69,6","6,7","11,2"
40,Rio de Janeiro,14 725,9 063,8 149,5 142,914,318,1 602,"61,5","55,3","63,1","10,1","17,1"
41,Rio de Janeiro,5 812,3 691,3 364,2 286,327,110,558,"63,5","57,9","68,0","8,9","14,7"
42,São Paulo,39 274,26 434,24 463,16 622,1 971,1 032,4 035,"67,3","62,3","67,9","7,5","14,7"
43,São Paulo,10 511,7 242,6 622,4 400,620,224,1 177,"68,9","63,0","66,5","8,6","15,8"
44,Sul,25 172,16 679,15 897,11 467,782,477,1 733,"66,3","63,2","72,1","4,7","10,1"
45,Paraná,9 590,6 280,5 980,4 209,301,220,705,"65,5","62,4","70,4","4,8","10,8"
46,Curitiba,1 689,1 147,1 086,791,61,33,134,"67,9","64,3","72,8","5,3","11,3"
47,Santa Catarina,6 112,4 173,4 030,3 107,143,54,254,"68,3","65,9","77,1","3,4","6,0"
48,Florianópolis,453,315,301,212,14,8,41,"69,5","66,4","70,4","4,4","12,7"
49,Rio Grande do Sul,9 470,6 226,5 887,4 151,338,204,774,"65,7","62,2","70,5","5,4","12,0"
50,Porto Alegre,1 276,839,789,531,50,22,110,"65,8","61,8","67,2","6,0","12,8"
51,Centro-Oeste,13 648,9 301,8 747,5 417,554,290,1 121,"68,1","64,1","61,9","6,0","11,7"
52,Mato Grosso do Sul,2 226,1 500,1 430,875,70,42,151,"67,4","64,2","61,2","4,7","9,8"
53,Campo Grande,740,499,483,310,16,12,42,"67,5","65,3","64,1","3,3","8,2"
54,Mato Grosso,2 829,1 892,1 830,1 154,63,72,177,"66,9","64,7","63,1","3,3","9,0"
55,Cuiabá,512,345,324,209,20,19,47,"67,2","63,3","64,5","5,9","13,0"
56,Goiás,5 987,4 116,3 876,2 291,240,112,492,"68,7","64,7","59,1","5,8","11,6"
57,Goiânia,1 352,929,885,598,45,19,92,"68,8","65,5","67,6","4,8","9,7"
58,Distrito Federal,2 606,1 793,1 611,1 096,182,64,300,"68,8","61,8","68,1","10,1","16,2"
59,Brasília,2 606,1 793,1 611,1 096,182,64,300,"68,8","61,8","68,1","10,1","16,2"

In [93]:
# Limpar nomes de colunas: remover \n e espaços extras
df_geo.columns = [col.replace('\n', ' ').strip() for col in df.columns]

# Verificar resultado
for i, col in enumerate(df_geo.columns):
    print(f"{i}: {col}")

0: Características selecionadas
1: População em idade de trabalhar (1 000 pessoas)
2: População na força de trabalho (1 000 pessoas)
3: População ocupada (1 000 pessoas)
4: População ocupada em trabalhos formais (1) (1 000 pessoas)
5: População desocupada (1 000 pessoas)
6: População na força de trabalho potencial (1 000 pessoas)
7: População subutilizada (1 000 pessoas)
8: Taxa de participação (%)
9: Nível de ocupação (%)
10: Taxa de formalização (%)
11: Taxa de desocupação (%)
12: Taxa composta de subutilização (%)

## Rendimento Escolar

In [85]:
df_esc = pd.read_csv('/content/Rend_Escolar/Rend_Escolar2023.csv', sep=';', encoding='utf-8')
display(df_esc)

,Ano,Unidade Geográfica,Localização,Dependência Administrativa,Total Taxa de Aprovação Ensino Fundamental,Anos Iniciais,Anos Finais,1º Ano,2º Ano,3º Ano,...,6º Ano.2,7º Ano.2,8º Ano.2,9º Ano.2,Total Taxa de Abandono Ensino Médio,1ª série.2,2ª série.2,3ª série.2,4ª série.2,Não-Seriado.2
0,2023,Brasil,Total,Total,"95,8","97,2",94,99,"98,4","95,8",...,"0,9","1,1","1,4","1,4","3,4","3,6","3,4","2,7","2,5","6,2"
1,2023,Brasil,Urbana,Total,"96,2","97,6","94,5","99,1","98,4","96,2",...,"0,7","0,9","1,1","1,2","3,3","3,6","3,4","2,7","2,4","6,2"
2,2023,Brasil,Rural,Total,"93,1",95,"90,3","98,9","98,1","92,8",...,"2,1","2,6","3,2","2,8","3,6","3,9","3,4","3,2","4,3",7
3,2023,Brasil,Total,Federal,"96,5","98,2","95,9","98,6","97,6","97,8",...,0,"0,1","0,1","0,1","1,4","1,4",1,"1,2",2,"3,2"
4,2023,Brasil,Urbana,Federal,"96,5","98,2","95,9","98,6","97,6","97,8",...,0,"0,1","0,1","0,1","1,5","1,4","1,1","1,2","2,1","3,4"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582,2023,Distrito Federal,Urbana,Privada,"99,1","99,7","98,2","99,9","99,9","99,6",...,0,0,0,0,"0,5",0,"0,1","0,2",--,"12,7"
583,2023,Distrito Federal,Rural,Privada,100,100,100,100,100,100,...,--,0,0,0,0,0,0,0,--,--
584,2023,Distrito Federal,Total,Pública,"93,9","95,1","92,5","98,2","98,9","87,5",...,1,"1,4","1,2","1,8","3,8",4,"4,5",3,--,--
585,2023,Distrito Federal,Urbana,Pública,"93,9","95,1","92,5","98,2","98,8","87,6",...,"1,1","1,5","1,2","1,8","3,9","4,1","4,6","2,9",--,--
586,2023,Distrito Federal,Rural,Pública,"94,3","94,9","93,2","98,6","99,3","86,3",...,"0,1","0,4","0,5","1,3","2,1",2,"2,3","2,1",--,--